# Original TFT runtime, resolved for CPython 3.7 on Linux x86-64.
tensorflow==1.15.5
tensorflow-probability==0.8.0
numpy==1.18.5
pandas==0.25.3
scikit-learn==0.22.2.post1
scipy==1.7.3
protobuf==3.20.3
h5py==2.10.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
absl-py==0.15.0
astor==0.8.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.48.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
opt-einsum==3.3.0
six==1.16.0
termcolor==1.1.0
wrapt==1.14.1
Markdown==3.3.7
Werkzeug==1.0.1
importlib-metadata==4.13.0
zipp==3.15.0
typing_extensions==4.7.1
python-dateutil==2.8.2
pytz==2022.7.1
joblib==1.1.1
decorator==5.1.1
cloudpickle==1.1.1
wget==3.2
pyunpack==0.3
patool==1.12
EasyProcess==1.1
entrypoint2==1.1
